body {
  font-size: 1.4em;
}

.top-nav {
  justify-content: space-evenly;
}

.button-disable {
  background-color: #9da8a2;
  border: 1px solid #9da8a2;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  pointer-events: none;
  cursor: default;
}

.user-logged-in,
.time-now {
  font-weight: bold;
  color: #606c76;
}

#txt {
  display: inline-block;
}

.ok-for-posting {
  color: #3cd386;
  margin-left: 10px;
  border: 1px solid #3cd386;
  border-radius: 5px;
  padding: 3px 5px;
  cursor: default;
}

.ok-for-posting:hover {
  color: #fff;
  background-color: #3cd386;
  border: 1px solid #3cd386;
  cursor: default;
}

.fb-share-failed {
  color: #d33c44;
  margin-left: 10px;
  border: 1px solid #d33c44;
  border-radius: 5px;
  padding: 3px 5px;
  cursor: default;
}

.login-panel {
  max-width: 112rem;
  margin: 0 auto;
}

.main {
  min-height: 1000px;
}

.container {
  max-width: 1920px;
}

.error-message {
  background: #fcebea;
    color: #cc1f1a;
    border-color: #ef5753;
    padding: 1rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;
}

p {
  margin-top: 15px;
}

.action-section {
  text-align: right;
}

.action-section a {
  margin-right: 30px;
}

.center {
  text-align: center;
}

.article-meta-panel {
  display: flex;
}

.article-share-preview {
  max-width: 500px;
}

.article-meta-info {
  width: 100%;
  padding: 0 10px;
}

.share-container {
  width: 100%;
  margin: 0 auto;
  color: #4b4f56;
  background-color: #f2f3f5;
  border: 1px solid #dddfe2;
}

.og-img {
  min-width: 498px;
  min-height: 280px;
}

.og-details {
  padding: 10px 12px;
}

.site-url a {
  display: block;
  color: #606770;
  flex-shrink: 0;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.title-and-desc {
  max-height: 46px;
  overflow: hidden;
}

.og-title a {
  display: block;
  color: #1d2129;
  font-weight: 600;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  margin: 3px 0 0;
  padding-top: 2px;
  letter-spacing: normal;
}

.og-description a {
  display: block;
  color: #606770;
  font-size: 14px;
  line-height: 20px;
  word-break: break-word;
  max-height: 80px;
  text-overflow: ellipsis;
  white-space: normal;
}

.article-facebook-caption {
  padding: 10px;
}

.article-other-info {
  margin-top: 50px;
  display: flex;
  width: 100%;
}

.keyword-posting-time-panel {
  margin-top: 30px;
  display: flex;
}

.fb-page-keywords-panel,
.fb-page-sharing-panel {
  width: 50%;
}

.fb-page-sharing-interval-panel {
  display: inline-block;
  margin-left: 100px
}

.fb-page-sharing-interval-panel h5 {
  display: inline-block;
}

.articles-posted-today-panel {
  margin-top: 30px;
}

.fb-page-link {
  color: #3b5998;
}

label.fb-keyword-option {
  font-size: 1em;
  font-weight: 400;
}

.article-keywords-found-panel,
.article-fb-pages-to-share-panel {
  margin-top: 30px;
  width: 50%;
}

.post-to-fb-container {
  margin-top: 30px;
}

.post-to-fb {
  width: 100%;
}

.article-fb-option input,
.fb-keyword-option input,
.article-fb-selection input {
  margin-right: 10px;
}

/* .article-fb-option, */
.article-fb-selection label {
  display: inline-block;
  /* width: 33%; */
  font-size: unset;
  font-weight: unset;
}

.fbage-keyword-container {
  margin-bottom: 30px;
}

.sched-time-panel {
  width: 60%;
  margin: 0 auto;
  padding: 30px;
}

.sched-time-row {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  align-items: center;
  vertical-align: middle;
}

.sched-time-row input {
  margin-bottom: 0;
}

/* .fb-keyword-option {
  display: inline-block;
  font-size: unset;
  font-weight: unset;
  width: 14%;
} */

.keyword-column {
  -moz-column-count: 5;
  -moz-column-gap: 20px;
  -webkit-column-count: 5;
  -webkit-column-gap: 20px;
  column-count: 5;
  column-gap: 20px;
  list-style: none;
}

.fbpages-column {
  -moz-column-count: 5;
  -moz-column-gap: 20px;
  -webkit-column-count: 5;
  -webkit-column-gap: 20px;
  column-count: 5;
  column-gap: 20px;
  list-style: none;
}

.fb-page-keywords-list {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
  /* list-style: none; */
}

.create-btn {
  margin-top: 30px;
  display: block;
}

.red-button {
  background-color: #d33c43;
  border: 0.1rem solid #d33c43;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.red-button:hover {
  background-color: #606c76;
  border-color: #606c76;
  color: #fff;
  outline: 0;
}

.action-btn-container {
  display: flex;
  justify-content: space-between;
}

.action-btn-container .button {
  margin-bottom: 0;
}

.pubished-graph-node-id {
  color: #3cd386;
}

/* table.index tr td:last-child {
  width: 12%;
} */

table#unused-table  tr td:last-child {
  width: 12%;
}

table#raw-table tr td:last-child {
  width: 20%;
}

table#raw-table tr th:nth-child(1),
table#unused-table tr th:nth-child(1),
table#published-table tr th:nth-child(1),
table#raw-table tr td:nth-child(1),
table#unused-table tr td:nth-child(1),
table#published-table tr td:nth-child(1) {
  text-align: center;
  padding: 0;
}

table#raw-table tr td:nth-child(4) {
  width: 11%;
}

table tr th {
  background-color: #f5f7fa;
}

/* table tr:hover {
  background-color: #efeded !important;
} */

table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #f5f7fa;
}

table tr:nth-child(odd).article-item tr  {
  background-color: #f2f2f2;
}

table tr:nth-child(even).article-item tr  {
  background-color: #f5f7fa;
}

/* .article-item table tr:nth-child(odd) {
  background-color: #f2f2f2;
} */

.article-item {
  padding: auto 5px;
}

.article-item td {
  padding-top: 20px;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: top;
}

.article-item td:nth-child(5) {
  padding-top: 0;
}

.article-item table tr:last-child td {
  border-bottom: none;
}

.article-item table td {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  vertical-align: middle;
}

.article-item table tr td:last-child {
  text-align: right;
  width: 12%;
}

.cron-buttons {
  display: flex;
}

.table-info {
  text-align: right;
}

.cron-buttons i {
  font-size: 32px;
  margin-right: 10px;
}

.cron-buttons .fa-toggle-on {
  color: #3cd386;
}

.cron-buttons .fa-toggle-off {
  color: #ccc;
}


.cron-buttons a {
  display: flex;
  align-items: center;
}

.privacy-view  {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.privacy-view ul {
  margin: 10px 0;
}

.privacy-view ul li {
  margin-left: 20px;
}

.privacy-view h2 {
  margin-top: 30px;
}

/* .override-btn-container {
  margin-top: 30px;
  text-align: center;
} */

#fb-page-group-page,
#fb-page-group-group {
  margin-right: 5px;
}

.page-option, 
.group-option {
  display: inline-block;
  margin-right: 15px;
}

.override-button,
#btn-add-time {
  background-color: #3cd386;
  border: 0.1rem solid #3cd386;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

#btn-add-time {
  margin: 15px 0;
  width: 100%;
}

.pagination {
  margin-top: 30px;
}

#shared-icon-info,
#error-icon-info {
  position: relative;
}

#shared-icon-info i {
  color: #3cd386;
}

#error-icon-info i {
  color: #d33c43;
}

#shared-tooltip {
  background: #3cd386;
  position: absolute;
  width: 150px;
  font-size: 11px;
  top: 0px;
  left: 20px;
  z-index: 1;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding: 5px 5px;
  display: none;
}

#error-tooltip {
  background: #d33c43;
  position: absolute;
  width: 150px;
  font-size: 11px;
  top: 0px;
  left: 20px;
  z-index: 1;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding: 5px 5px;
  display: none;
}

.pagination li.active a {
  color: #3cd386;
}

footer {
  display: flex;
  padding: 20px 50px;
}

footer .copyright,
footer .privacy-policy {
  margin-right: 20px;
}

.article-fb-caption { 
  display: inline-block;
  margin-right: 15px;
}